# Neo4j backups and snapshots
Neo4j Aura Snapshot/
*.backup

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
*.egg-info/
dist/
build/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
